<div class="main-container">
  <div class="content-box">
    <h2>Main page</h2>

    <!-- Modal for Checkmate Notification -->
    <div *ngIf="gameEnded" class="modal">
      <div class="modal-content">
        <h2>Checkmate!</h2>
        <p>{{ currentTurn === 'white' ? 'Black' : 'White' }} wins the game!</p>
        <button (click)="resetGame()">Create new game</button>
      </div>
    </div>

    <!-- Button for Online Mode -->
    <div class="button-container">
      <button class="online-mode-button" (click)="goToOnlineMode()">Play Online Mode</button>
    </div>

    <div class="iframe-wrapper">
      <!-- Iframe 1 Container -->
      <div class="iframe-container-1">
        <div class="label">Iframe 1</div>
        <iframe id="iframe1" title="Iframe1" src="/iframe1"></iframe>
      </div>

      <!-- Iframe 2 Container -->
      <div class="iframe-container-2">
        <div class="label">Iframe 2</div>
        <iframe id="iframe2" title="Iframe2" src="/iframe2"></iframe>
      </div>
    </div>
  </div>
</div>
